<% content_for :page_title, 'Dashboard - Demo' %>
<% add_parent_breadcrumb_link 'Home', root_path %>
<% content_for  :title, 'Dashboard' %>

<h1 class="mt-5">Dashboard!</h1>
<p class="lead">This has been automatically generate to quickly start your new project.</p>
